<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.icom.gosutv" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/dota_2_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity
            android:name=".SplashScreen"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.fragment.ListFeedCategoryActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:theme="@style/TestThem"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.fragment.FeedDetailActivity"
            android:label="@string/app_name"
            android:theme="@style/TestThem"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.fragment.VideoDetailActivity"
            android:label="@string/title_activity_video_detail"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.fragment.SilderActivity"
            android:label="@string/title_activity_gallery"
            android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.fragment.FeedContentDetailActivity"
                android:label="@string/title_activity_gallery"
                android:theme="@style/TestThem"
                android:screenOrientation="portrait">
        </activity>
        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version" />
        <activity android:name="com.google.android.gms.ads.AdActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
                  android:theme="@android:style/Theme.Translucent" />
    </application>

</manifest>
